.container {
    max-width: 1440px; /* Largura máxima padrão moderna */
    width: 90%; /* Garante margem lateral em telas menores */
    margin: 0 auto;
    padding-bottom: 80px; /* Espaço extra no final da página */
    position: relative;
}